#include <zephyr/dt-bindings/gpio/gpio.h>

/ {

    led_sensor_node: led_sensor {
        compatible = "my,led-sensor";
        led-gpios = < &gpio4 0x12 0x1 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };
};